<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yeadam.project.patient.map.PatientMapper">
	<select id="patientSelectList"
		resultType="co.yeadam.project.patient.service.PatientVO">
		SELECT * FROM PATIENT
	</select>
	<select id="patientSelect"
		resultType="co.yeadam.project.patient.service.PatientVO">
		SELECT * FROM PATIENT
		WHERE PATIENT_ID = #{patientId}
	</select>
	<insert id="patientInsert"
		parameterType="co.yeadam.project.patient.service.PatientVO">
		INSERT INTO PATIENT (PATIENT_ID, PATIENT_NAME, PATIENT_GENDER, PATIENT_RESIDENT_NUMBER, PATIENT_AGE, EMPLOYEE_NUM)
		VALUES (#{patientId}, #{patientName}, #{patientGender}, #{patientResidentNumber}, #{patientAge}, #{employeeNum})
	</insert>
	<update id="patientUpdate"
		parameterType="co.yeadam.project.patient.service.PatientVO">
		UPDATE PATIENT
		<set>
			<if test="patientHeight != null">PATIENT_HEIGHT = #{patientHeight},</if>
			<if test="patientWeight != null">PATIENT_WEIGHT = #{patientWeight},</if>
			<if test="patientTel != null">PATIENT_TEL = #{patientTel}</if>
		</set>
		WHERE PATIENT_ID = #{patientId}
	</update>
	<delete id="patientDelete"
		parameterType="co.yeadam.project.patient.service.PatientVO">
		DELETE FROM PATIENT WHERE PATIENT_ID = #{patientId}
	</delete>
	<select id="patientJoin" resultType="Map">
		SELECT C.NEXT_VISIT_DATE, P.PATIENT_ID, P.PATIENT_NAME, P.PATIENT_GENDER, P.PATIENT_AGE, P.EMPLOYEE_NUM, C.DISEASE
		FROM PATIENT P
		LEFT JOIN CHART C ON C.PATIENT_ID = P.PATIENT_ID
		WHERE C.NEXT_VISIT_DATE = #{nextVisitDate}
	</select>
</mapper>