<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yeadam.project.chart.map.ChartMapper">
<select id="chartSelectList" resultType="co.yeadam.project.chart.service.ChartVO">
	SELECT * FROM CHART
</select>
<select id="chartSelect" resultType="co.yeadam.project.chart.service.ChartVO">
	SELECT * FROM CHART
	WHERE PATIENT_ID = #{patientId}
	ORDER BY VISIT_DATE
</select>
<insert id="chartInsert" parameterType="co.yeadam.project.chart.service.ChartVO">
	INSERT INTO CHART (CHART_CONTENT, VISIT_DATE, NEXT_VISIT_DATE, DISEASE, PATIENT_ID, EMPLOYEE_NUM, MEDICINE_NAME, MEDICINE_DOSE, MEDICINE_METHOD)
	VALUES (#{chartContent}, SYSDATE, #{nextVisitDate}, #{disease}, #{patientId}, #{employeeNum}, #{medicineName}, #{medicineDose}, #{medicineMethod})
</insert>
<update id="chartUpdate" parameterType="co.yeadam.project.chart.service.ChartVO">
	UPDATE CHART
	<set>
		<if test="chartContent != null">CHART_CONTENT = #{chartContent},</if>
		<if test="nextVisitDate != null">NEXT_VISIT_DATE = #{nextVisitDate},</if>
		<if test="medicineName != null">MEDICINE_NAME = #{medicineName},</if>
		<if test="medicineDose != null">MEDICINE_DOSE = #{medicineDose},</if>
		<if test="medicineMethod != null">MEDICINE_METHOD = #{medicineMethod}</if>
	</set>
	WHERE PATIENT_ID = #{patientId}
	AND VISIT_DATE = #{visitDate}
	AND EMPLOYEE_NUM = #{employeeNum}
</update>
</mapper>