<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yeadam.project.employee.map.EmployeeMapper">
<select id="employeeSelectList" resultType="co.yeadam.project.employee.service.EmployeeVO">
	SELECT * FROM EMPLOYEE
</select>
<select id="employeeSelect" resultType="co.yeadam.project.employee.service.EmployeeVO">
	SELECT * FROM EMPLOYEE WHERE EMPLOYEE_ID = #{employeeId}
	<if test="employeePassword != null">
	AND EMPLOYEE_PASSWORD = #{employeePassword}
	</if>
</select>
<select id="employeeSelectName" resultType="co.yeadam.project.employee.service.EmployeeVO">
	SELECT * FROM EMPLOYEE WHERE EMPLOYEE_NAME = #{employeeName}
</select>
<insert id="employeeInsert" parameterType="co.yeadam.project.employee.service.EmployeeVO">
	INSERT INTO EMPLOYEE
	VALUES (#{employeeId},#{employeePassword},#{employeeName},#{employeeJob},#{employeeNum})
</insert>
<update id="employeeUpdate" parameterType="co.yeadam.project.employee.service.EmployeeVO">
	UPDATE EMPLOYEE
	<set>
		<if test="employeePassword != null">EMPLOYEE_PASSWORD = #{employeePassword},</if>
		<if test="employeeName != null">EMPLOYEE_NAME = #{employeeName},</if>
		<if test="employeeJob != null">EMPLOYEE_JOB = #{employeeJob}</if>
	</set>
	WHERE EMPLOYEE_ID = #{employeeId}
</update>
<delete id="employeeDelete" parameterType="co.yeadam.project.employee.service.EmployeeVO">
	DELETE FROM EMPLOYEE WHERE EMPLOYEE_ID = #{employeeId}
</delete>
</mapper>